{% extends 'estoque/base.html' %}

{% block content %}

<nav class="card nav">
    <div class="nav-left">
            <a class="brand" href='{% url "livro-list" %}'>Autores</a>
          </div>
          <div class="card nav">
            <form method="GET" class="nav">
                {{ form.as_p }}
                <button type="submit" class="button primary icon">Pesquisar</button>
            </form>
        </div>    
</nav>

<div id="autores-table">
<table class="striped">
  <caption>
    <h2>Numero de Autores: {{ object_list | length }}</h2>
    <a href="{% url 'autor-create' %}" class="button primary">Novo</a>
  </caption>
  <thead>
    <tr>
      <th>---</th>
      <th>Nome</th>
      <th>Idade</th>
      <th>Remover</th>
    </tr>
  </thead>

  <tbody>
    {% for obj in object_list %}
    <tr>
      {# contador de iterações do for #}
      <td>{{ forloop.counter }}</td>
      <td>
        <a href="{% url 'autor-update' obj.pk %}">{{ obj.nome }}</a>
      </td>
      <td>{{ obj.idade }}</td>
      <td>
        <a href="{% url 'autor-delete' obj.pk %}">Remover</a>
      </td>
    </tr>
    {% empty %}
      <tr>
        <td class="is-text-center" colspan="100%">Nenhum Autor Cadastrado</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
</div>
{% endblock content %}

